<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="style.css" rel="stylesheet" type="text/css" media="all"/>
    <script src="common.js"></script>
</head>

<body>

<div id="container">
    <div class="header">
        <span style="float: left;">ChatBot</span>
        <span style="float: right;">餐馆推荐</span>
    </div>
    <ul class="content"></ul>
    <div class="footer">
        <div id="user_face_icon">
            <img src="img/logo.jpg" alt="">
        </div>
        <input id="text" type="text" placeholder="吃点什么呢">
        <span id="btn">发送</span>
    </div>
</div>

</body>

</html>